div.stMarkdown.p{
background-color: #ba72de;
}

div.st-emotion-cache-6qob1r.eczjsme3{
    background-color: #6E48C0;
}

div.st-emotion-cache-m8hsoe.eczjsme9{
    background-color: #6E48C0;
}

span.st-emotion-cache-pkbazv.eczjsme5{
    color:#fdeeff;
}

span.st-emotion-cache-17lntkn{
    color: #ffffff;
}

a.st-emotion-cache-nziaof:visited{
    background-color: #ba72de;
}
